.header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    &__logo{
        font-size: 30px;
        color: $gray;
        max-height: 50px;
        height: 100%;
        max-width: 60px;
        display: flex;
        z-index: 101;
        > *{
            width: 100%;
            height: 100%;
        }
    }
    &__menu{
        display: none;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 100px 25px;
        background-color: $dark;
        z-index: 50;
    }
    & > &__nav{
        display: none;
        @include breakpoint-up(sm) {
            display: flex;
        }
        &__menu{
            @include breakpoint-up(sm) {
                display: none;
            }
        }
    }
    &__nav--menu{
        display: flex;
        flex-direction: column;
        .header__nav__item{
            margin-left: 0 !important;
            margin-bottom: 10px;
            font-size: 5vw;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &__nav {
        z-index: 100;
        font-size: 14px;
        display: flex;
        ul{
            display: flex;
            flex-direction: inherit;
        }
        &__item{
            margin-left: 25px;
            color: $white;
            cursor: pointer;
            @include TextUnderlineStroke(2px, true);
            &:first-child{
                margin-left: 0;
            }
        }
        &__menu{
            display: flex;
            flex-direction: column;
            width: 30px;
            cursor: pointer;
            z-index: 100;
            &.active{
                > :nth-child(1) {
                    width: 50%;
                    margin-right: auto;
                    transform: rotate(45deg) translate(2px);
                }
                > :nth-child(2) {
                    width: 100%;
                    transform: rotate(-45deg);
                }
                > :nth-child(3) {
                    width: 50%;
                    margin-left: auto;
                    transform: rotate(45deg) translate(-2px);
                }
                ~ .header__menu{
                    display: flex;
                    @include breakpoint-up(sm){
                        display: none !important;
                    }
                    & > [data-id='header-auth-menu'] {
                        display: flex !important;
                        margin-top: 15px;
                    }
                }
            }
            > * {
                width: 100%;
                margin-bottom: 5px;
                height: 2px;
                border-radius: 2px;
                background-color: $white;
                transition: all 200ms ease-in-out;
                pointer-events: none;
                &:last-child{
                    margin-bottom: 0;
                }
            } 
        }
    }
    &__auth{
        align-items: center;
        background-color: transparent;
        border: none;
        display: none;
        @include breakpoint-up(sm) {
            display: flex;
        }
        &__link{
            &:first-child{
                margin-right: 10px;
            }
            color: $white;
            padding: 2px 10px;
            transition: opacity 200ms ease-in-out;
            &.--sign-up{
                border: 1px solid $white;
            }
            &:hover{
                opacity: 0.75;
            }
        }
        &__content{
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            &__username, &__email{
                text-align: left;
            }
            &__username{
                font-size: 12px;
                font-weight: 500;
                color: $lightGray;
            }
            &__email{
                font-size: 10px;
                color: $white;
            }
        }
    }
}