.post{
    display: flex;
    align-items: center;
    flex-direction: column;
    &__title{
        position: relative;
        color: $white;
        font-size: 36px;
        min-width: max-content;
        &::before{
            content: attr(data-text);
            position: absolute;
            top: -35px;
            font-size: 40px;
            color: $white;
            z-index: -1;
            left: 50%;
            transform: translateX(-50%);
            min-width: max-content;
            letter-spacing: 3px;
            mask-image: linear-gradient(0deg, transparent 15px, $white 250px);
            -webkit-mask-image: linear-gradient(0deg, transparent 15px, $white 250px);
        }
    }
    &__image{
        margin: 15px 0;
        max-width: 100%;
        max-height: 50vw;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border-radius: 15px;
    }
    &__header{
        display: flex;
        color: $blue;
        font-size: 12px;
        margin: 25px 0;
        &__item{
            margin-right: 30px;
            text-shadow: 2px 2px 10px rgba($blue, 0.5);
            &:last-child{
                margin-right: 0;
            }
        }
    }
}