.validation{
    &__background{
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-image: url("../assets/validation-background.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: grayscale(0.25);
        &::before,&::after{
            content: "";
            position: fixed;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: $dark;
        }
        &::before{
            background: linear-gradient(25deg, rgba($dark, 1) 20%, rgba($dark, 0) 100%);
        }
        &::after{
            background: linear-gradient(70deg, rgba($dark, 1) 50%, rgba($dark, 0) 85%);
        }
    }
}